@import "tailwindcss";

@layer utilities {
  .text-xxs {
    font-size: 0.625rem; /* 10px */
  }
}

@theme {
  /* BREAKPONINTS */

  --breakpoint-xs: 608px;

    /* Primary Colors */
  --color-primary-cran-50: #FFF1E5;
  --color-primary-cran-100: #FFDAB7;
  --color-primary-cran-200: #FFC28A;
  --color-primary-cran-300: #FFAA5C;
  --color-primary-cran-400: #FF922E;
  --color-primary-cran-500: #FF7A00;
  --color-primary-cran-600: #D66700;
  --color-primary-cran-700: #AD5300;
  --color-primary-cran-800: #854000;
  --color-primary-cran-900: #5C2C00;

  /* Secondary Colors */
  --color-secondary-cran-50: #F7FFEE;
  --color-secondary-cran-100: #E6FFC8;
  --color-secondary-cran-200: #D5FFA2;
  --color-secondary-cran-300: #C4FF7C;
  --color-secondary-cran-400: #B1FB55;
  --color-secondary-cran-500: #93D93D;
  --color-secondary-cran-600: #77B728;
  --color-secondary-cran-700: #5D9518;
  --color-secondary-cran-800: #45730B;
  --color-secondary-cran-900: #2E5103;

  /* Info Colors */
  --color-info-cran-50: #e5fffd;
  --color-info-cran-100: #B7FFFA;
  --color-info-cran-200: #8AFFF7;
  --color-info-cran-300: #5CFFF4;
  --color-info-cran-400: #2EFFF1;
  --color-info-cran-500: #00FFEE;
  --color-info-cran-600: #00D6C8;
  --color-info-cran-700: #00ADA2;
  --color-info-cran-800: #00857C;
  --color-info-cran-900: #005C56;

  /* Accent Colors */
  --color-accent-cran-50: #FFEDFD;
  --color-accent-cran-100: #FFC7F9;
  --color-accent-cran-200: #FFA0F5;
  --color-accent-cran-300: #FF79F1;
  --color-accent-cran-400: #FD51EC;
  --color-accent-cran-500: #DB3BCB;
  --color-accent-cran-600: #B928AB;
  --color-accent-cran-700: #97198A;
  --color-accent-cran-800: #750D6B;
  --color-accent-cran-900: #53054B;

  /* Surface Colors */
  --color-surface-cran-white: #FFFFFF;
  --color-surface-cran-25: #FAFAFA;
  --color-surface-cran-50: #F5F5F7;
  --color-surface-cran-100: #EAEAED;
  --color-surface-cran-200: #D2D2D8;
  --color-surface-cran-300: #BBBBC4;
  --color-surface-cran-400: #A5A5B0;
  --color-surface-cran-500: #8F8F9B;
  --color-surface-cran-600: #7A7A87;
  --color-surface-cran-700: #666672;
  --color-surface-cran-800: #52525E;
  --color-surface-cran-900: #3F3F4A;
  --color-surface-cran-black: #000000;

  /* Error Colors */
  --color-error-cran-50: #FFEAEA;
  --color-error-cran-100: #FFBBBB;
  --color-error-cran-200: #FF8C8C;
  --color-error-cran-300: #FF5D5D;
  --color-error-cran-400: #FF2E2E;
  --color-error-cran-500: #E51C1C;
  --color-error-cran-600: #C30B0B;
  --color-error-cran-700: #A10000;
  --color-error-cran-800: #7F0000;
  --color-error-cran-900: #5D0000;

  /* Success Colors */
  --color-success-cran-50: #EAFFEA;
  --color-success-cran-100: #BBFFBB;
  --color-success-cran-200: #8CFF8C;
  --color-success-cran-300: #5EFF5E;
  --color-success-cran-400: #2FFF2F;
  --color-success-cran-500: #1CE51C;
  --color-success-cran-600: #0CC30C;
  --color-success-cran-700: #00A100;
  --color-success-cran-800: #007F00;
  --color-success-cran-900: #005D00;

  /* Warning Colors */
  --color-warning-cran-50: #FFFAE8;
  --color-warning-cran-100: #FFF2BE;
  --color-warning-cran-200: #FFEA95;
  --color-warning-cran-300: #FFE16B;
  --color-warning-cran-400: #FFD942;
  --color-warning-cran-500: #F2C617;
  --color-warning-cran-600: #C9A204;
  --color-warning-cran-700: #A18100;
  --color-warning-cran-800: #786000;
  --color-warning-cran-900: #4F3F00;

  /* COLORS TOKENS */

  /* BACKGROUND COLORS */

  /* ---------------------------------------- */
  /* Neutrals                                 */
  /* ---------------------------------------- */

  --color-neutral-primary: var(--color-surface-cran-white);
  --color-neutral-secondary: var(--color-surface-cran-100);
  --color-neutral-tertiary: var(--color-surface-cran-200);
  --color-neutral-disabled: var(--color-surface-cran-300);

  /* Neutrals Inverse */
  --color-inverse-neutral-primary: var(--color-surface-cran-900);
  --color-inverse-neutral-secondary: var(--color-surface-cran-800);
  --color-inverse-neutral-tertiary: var(--color-surface-cran-700);

  /* ---------------------------------------- */
  /* Brand (global, sin capa)                 */
  /* ---------------------------------------- */

  --color-brand-primary-strong: var(--color-primary-cran-500);
  --color-brand-primary-medium: var(--color-primary-cran-300);
  --color-brand-primary-subtle: var(--color-primary-cran-100);

  --color-brand-secondary-strong: var(--color-secondary-cran-500);
  --color-brand-secondary-medium: var(--color-secondary-cran-300);
  --color-brand-secondary-subtle: var(--color-secondary-cran-100);

  --color-brand-support-strong: var(--color-support-cran-500);
  --color-brand-support-medium: var(--color-support-cran-300);
  --color-brand-support-subtle: var(--color-support-cran-100);

  /* ========================= */
  /* SEMANTIC (global)         */

  /* ========================= */

  /* Background semantic sucess */
  --color-semantic-sucess-subtle: var(--color-sucess-cran-100);
  --color-semantic-sucess-bold: var(--color-sucess-cran-700);

  /* Background semantic error */
  --color-semantic-error-subtle: var(--color-error-cran-100);
  --color-semantic-error-bold: var(--color-error-cran-700);

  /* Background semantic warning */
  --color-semantic-warning-subtle: var(--colors-warning-cran-100);
  --color-semantic-warning-bold: var(--color-warning-cran-700);

  /* Background semantic info */
  --color-semantic-info-subtle: var(--colors-info-cran-100);
  --color-semantic-info-bold: var(--color-info-cran-700);

  /* ========================= */
  /* TEXT COLORS    */
  /* ========================= */

  /* Text Neutrals */
  --color-fg-neutral-primary: var(--color-surface-cran-900);
  --color-fg-neutral-secondary: var(--color-surface-cran-800);
  --color-fg-neutral-tertiary: var(--color-surface-cran-700);
  --color-fg-neutral-disabled: var(--color-surface-cran-500);

  /* Text Neutrals Inverse */
  --color-fg-inverse-neutral-primary: var(--color-surface-cran-100);
  --color-fg-inverse-neutral-secondary: var(--color-surface-cran-200);
  --color-fg-inverse-neutral-tertiary: var(--color-surface-cran-300);

  /* ========================= */
  /* BORDER COLORS    */
  /* ========================= */

  /* Border Neutrals */
  --color-b-neutral-primary: var(--color-surface-cran-400);
  --color-b-neutral-secondary: var(--color-surface-cran-200);

  /* Border Neutrals Inverse */
  --color-b-inverse-neutral-primary: var(--color-surface-cran-800);
  --color-b-inverse-neutral-secondary: var(--color-surface-cran-600);

  /* Border semantic sucess */
  --color-b-success: var(--color-success-cran-700);
  --color-b-success-inverse: var(--color-success-cran-100);

  /* Border semantic error */
  --color-b-error: var(--color-error-cran-700);
  --color-b-error-inverse: var(--color-error-cran-100);

  /* Border semantic warning */
  --color-b-warning: var(--color-warning-cran-700);
  --color-b-warning-inverse: var(--color-warning-cran-100);

  /* Border semantic info */
  --color-b-info: var(--color-info-cran-700);
  --color-b-info-inverse: var(--color-info-cran-100);

  /* ---------------------------------------- */
  /* Direct colors                             */
  /* ---------------------------------------- */
  --color-orange: #ff7a00;
  --color-pink: #db3bcb;
  --color-purple: #af32e5;
  --color-green: #77b728;
  --color-cyan: #00ffee;

  --color-purple-light: #d77bff;

  /* Golden ratio */
  --golden-ratio: 1.618;

  --text-xxs: 0.625rem; /* 10px */

  /* line height with golden ratio */
  --spacing-lh-2xs: calc(var(--golden-ratio) * 10px);
  --spacing-lh-xs: calc(var(--golden-ratio) * 12px);
  --spacing-lh-sm: calc(var(--golden-ratio) * 14px);
  --spacing-lh-base: calc(var(--golden-ratio) * 16px);
  --spacing-lh-xl: calc(var(--golden-ratio) * 18px);
  --spacing-lh-2xl: calc(var(--golden-ratio) * 20px);

  --text-xxs: 0.625rem; /* 10px */
}

:root {
  /* Golden ratio */
  --golden-ratio: 1.618;

  /* line height with golden ratio */

  ---spacing-lh-2xs: calc(var(--golden-ratio) * 10px);
  --spacing-lh-xs: calc(var(--golden-ratio) * 12px);
  --spacing-lh-sm: calc(var(--golden-ratio) * 14px);
  --spacing-lh-base: calc(var(--golden-ratio) * 16px);
  --spacing-lh-xl: calc(var(--golden-ratio) * 18px);

  --spacing-lh-: calc(var(--golden-ratio) * 24px);
  --spacing-lh-: calc(var(--golden-ratio) * 32px);
}

/* Animación de colores */
@keyframes colorCycle {
  0% {
    color: var(--color-orange-accent);
  }
  20% {
    color: var(--color-pink);
  }
  40% {
    color: var(--color-purple);
  }
  60% {
    color: var(--color-green);
  }
  80% {
    color: var(--color-cyan);
  }
  100% {
    color: var(--color-orange-accent);
  }
}

/* Clase para animar el texto  de hero */
.color-animated {
  animation: colorCycle 10s ease-in-out 2s infinite;
}

.card-report {
  @apply w-full max-w-[360px] md:max-w-full xl:max-w-[390px] border-[1.6px] md:border-[1.8px] xl:border-2 border-solid border-zinc-400 bg-white p-4 md:p-6 xl:p-8 flex-1 rounded-xl;
}

.h2 {
  @apply text-center text-2xl md:text-3xl lg:text-3xl xl:text-4xl font-extrabold mb-4 md:mb-5 xl:mb-6 underline;
}

.section {
  @apply px-4 md:px-6 lg:px-24 xl:px-32 py-9 md:py-12 lg:py-16 xl:py-20;
}

.label-contact-form {
  @apply text-xxs leading-lh-2xs md:text-xs md:leading-lh-xs xl:text-sm xl:leading-lh-sm font-medium;
}

.input-contact-form {
  @apply w-full text-cran-surface-600 bg-cran-surface-50 border-[1.6px] md:border-[1.6px] xl:border-2 border-solid border-cran-surface-500 rounded-sm md:rounded-md px-2 py-1 md:px-3 md:py-2 xl:px-3.5 xl:py-2.5;
}

.text-input-form {
  @apply text-xs leading-lh-xs md:text-sm md:leading-lh-sm xl:text-base xl:leading-lh-base font-medium;
}

.btn-contact-form {
  @apply w-auto font-bold px-5 py-2 md:px-6 md:py-2.5 xl:px-7 xl:py-3 hover:bg-orange/90 transition-colors;
}

.title-footer {
  @apply font-bold text-xs leading-lh-xs md:text-base md:leading-lh-base xl:text-lg xl:leading-lh-xl text-orange;
}

.text-content-footer {
  @apply text-xxs leading-lh-2xs md:text-sm md:leading-lh-sm xl:text-base xl:leading-lh-base hover:text-green-300 transition-colors;
}

.container-inner {
  @apply p-2 md:p-4 xl:p-5 gap-2 md:gap-3 xl:gap-4;
}

.container-inner-content {
  @apply gap-1.5 md:gap-2 xl:gap-3;
}

.container-social-media {
  @apply border-[1.6px] border-zinc-400 rounded-[3px] w-6 md:w-7 xl:w-10 h-6 md:h-7 xl:h-10 aspect-square;
}

.icons-social-media {
  @apply text-zinc-400 hover:text-zinc-200 active:text-zinc-50 size-4 md:size-4.5 xl:size-6;
}

.text-cta-wsp {
  @apply font-bold italic underline;
}

.icon-wsp {
  @apply size-6 md:size-9 xl:size-10 bg-[#18DA14] rounded-3xl;
}

/* Ocultar scrollbar en todos los navegadores */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
