@import "tailwindcss";

@theme {
  /* Golden ratio */
  --golden-ratio: 1.618;

  /* line height with golden ratio */
  --spacing-lh-2xs: calc(var(--golden-ratio) * 10px);
  --spacing-lh-xs: calc(var(--golden-ratio) * 12px);
  --spacing-lh-sm: calc(var(--golden-ratio) * 14px);
  --spacing-lh-base: calc(var(--golden-ratio) * 16px);
  --spacing-lh-xl: calc(var(--golden-ratio) * 18px);
  --spacing-lh-2xl: calc(var(--golden-ratio) * 20px);

  --text-xxs: 0.625rem; /* 10px */
}

:root {
  /* Golden ratio */
  --golden-ratio: 1.618;

  /* line height with golden ratio */
  --spacing-lh-xs: calc(var(--golden-ratio) * 12px);
  --spacing-lh-sm: calc(var(--golden-ratio) * 14px);
  --spacing-lh-base: calc(var(--golden-ratio) * 16px);

  --spacing-lh-: calc(var(--golden-ratio) * 24px);
  --spacing-lh-: calc(var(--golden-ratio) * 32px);
}

/* Animación de colores */
@keyframes colorCycle {
  0% {
    color: var(--color-orange-accent);
  }
  20% {
    color: var(--color-pink);
  }
  40% {
    color: var(--color-purple);
  }
  60% {
    color: var(--color-green);
  }
  80% {
    color: var(--color-cyan);
  }
  100% {
    color: var(--color-orange-accent);
  }
}