@import "tailwindcss";

@theme {
  /* Golden ratio */
  --golden-ratio: 1.618;

  /* line height with golden ratio */
  --spacing-lh-2xs: calc(var(--golden-ratio) * 10px);
  --spacing-lh-xs: calc(var(--golden-ratio) * 12px);
  --spacing-lh-sm: calc(var(--golden-ratio) * 14px);
  --spacing-lh-base: calc(var(--golden-ratio) * 16px);
  --spacing-lh-xl: calc(var(--golden-ratio) * 18px);
  --spacing-lh-2xl: calc(var(--golden-ratio) * 20px);

  --text-xxs: 0.625rem; /* 10px */
}

:root {
  /* Golden ratio */
  --golden-ratio: 1.618;

  /* line height with golden ratio */

  ---spacing-lh-2xs: calc(var(--golden-ratio) * 10px);
  --spacing-lh-xs: calc(var(--golden-ratio) * 12px);
  --spacing-lh-sm: calc(var(--golden-ratio) * 14px);
  --spacing-lh-base: calc(var(--golden-ratio) * 16px);
  --spacing-lh-xl: calc(var(--golden-ratio) * 18px);

  --spacing-lh-: calc(var(--golden-ratio) * 24px);
  --spacing-lh-: calc(var(--golden-ratio) * 32px);
}

/* Animación de colores */
@keyframes colorCycle {
  0% {
    color: var(--color-orange-accent);
  }
  20% {
    color: var(--color-pink);
  }
  40% {
    color: var(--color-purple);
  }
  60% {
    color: var(--color-green);
  }
  80% {
    color: var(--color-cyan);
  }
  100% {
    color: var(--color-orange-accent);
  }
}

/* Clase para animar el texto  de hero */
.color-animated {
  animation: colorCycle 10s ease-in-out 2s infinite;
}

.card-report {
  @apply w-full max-w-[360px] md:max-w-full xl:max-w-[390px] border-[1.6px] md:border-[1.8px] xl:border-2 border-solid border-zinc-400 bg-white p-4 md:p-6 xl:p-8 flex-1 rounded-xl;
}

.h2 {
  @apply text-center text-2xl md:text-3xl lg:text-3xl xl:text-4xl font-extrabold mb-4 md:mb-5 xl:mb-6 underline;
}

.section {
  @apply px-4 md:px-6 lg:px-24 xl:px-32 py-9 md:py-12 lg:py-16 xl:py-20;
}

.label-contact-form {
  @apply text-xxs leading-lh-2xs md:text-xs md:leading-lh-xs xl:text-sm xl:leading-lh-sm font-medium;
}

.input-contact-form {
  @apply w-full text-cran-surface-600 bg-cran-surface-50 border-[1.6px] md:border-[1.6px] xl:border-2 border-solid border-cran-surface-500 rounded-sm md:rounded-md px-2 py-1 md:px-3 md:py-2 xl:px-3.5 xl:py-2.5;
}

.text-input-form {
  @apply text-xs leading-lh-xs md:text-sm md:leading-lh-sm xl:text-base xl:leading-lh-base font-medium;
}

.btn-contact-form {
  @apply w-auto font-bold px-5 py-2 md:px-6 md:py-2.5 xl:px-7 xl:py-3 hover:bg-orange/90 transition-colors;
}

.title-footer {
  @apply font-bold text-xs leading-lh-xs md:text-base md:leading-lh-base xl:text-lg xl:leading-lh-xl text-orange;
}

.text-content-footer {
  @apply text-xxs leading-lh-2xs md:text-sm md:leading-lh-sm xl:text-base xl:leading-lh-base hover:text-green-300 transition-colors;
}

.container-inner {
  @apply p-2 md:p-4 xl:p-5 gap-2 md:gap-3 xl:gap-4;
}

.container-inner-content {
  @apply gap-1.5 md:gap-2 xl:gap-3;
}

.container-social-media {
  @apply border-[1.6px] border-zinc-400 rounded-[3px] w-6 md:w-7 xl:w-10 h-6 md:h-7 xl:h-10 aspect-square;
}

.icons-social-media {
  @apply text-zinc-400 hover:text-zinc-200 active:text-zinc-50 size-4 md:size-4.5 xl:size-6;
}

.text-cta-wsp {
  @apply font-bold italic underline;
}

.icon-wsp {
  @apply size-6 md:size-9 xl:size-10 bg-[#18DA14] rounded-3xl;
}

/* Ocultar scrollbar en todos los navegadores */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
